<manifest android:versionName="0.1" android:versionCode="1" package="org.arktekk.littlebro"
          xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-sdk android:minSdkVersion="3"></uses-sdk>
  <uses-permission android:name="android.permission.INTERNET"/>
  <application android:icon="@drawable/app_icon" android:label="@string/app_name">
    <activity android:label="@string/app_name" android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"></action>
        <category android:name="android.intent.category.LAUNCHER"></category>
      </intent-filter>
    </activity>
    <activity android:label="@string/browser_layout_name" android:name=".BrowserActivity"/>
    <activity android:label="@string/login_layout_name" android:name=".LoginActivity" android:theme="@android:style/Theme.Dialog"/>
  </application>
</manifest>
